Checks: >
    bugprone-*,
    -bugprone-assignment-in-if-condition,
    -bugprone-easily-swappable-parameters,
    -bugprone-multi-level-implicit-pointer-conversion,
    -bugprone-unchecked-string-to-number-conversion,
    concurrency-*,
    misc-*,
    -misc-non-private-member-variables-in-classes,
    -misc-no-recursion,
    modernize-*,
    -modernize-avoid-c-arrays,
    -modernize-use-nodiscard,
    -modernize-use-trailing-return-type,
    performance-*,
    -performance-enum-size,
    -performance-no-int-to-ptr,
    portability-*,
    readability-*,
    -readability-else-after-return,
    -readability-enum-initial-value,
    -readability-identifier-length,
    -readability-implicit-bool-conversion,
    -readability-isolate-declaration,
    -readability-magic-numbers,
    -readability-math-missing-parentheses,
    -readability-suspicious-call-argument,
    -readability-uppercase-literal-suffix,
